.container{
  margin-top: 70px;
}


.btn
{
  margin-left: 100px;
 /* margin-bottom: 50px; */
  border: 10px solid red;
  width: 300px;
}

.center
{
  /* margin:50% ; */
  margin-left: 100px;
  margin-top: 30px;
  width: 300px;
  /* background-color: red; */
}
.d-block{
  margin-top: 80px;
}

